@import "bootstrap/dist/css/bootstrap.min.css";

body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #262626;
    color: #c15a72;
}

/* Header styles */
header {
    background-color: #b9d41a;
    color: #161616;
    padding: 10px 0;
    text-align: center;
}

/* Sidebar styles */
.sidebar {
    background-color: #555454;
    color: #fff;
    width: 150px;
    height: 100%;
    position: fixed;
    top: 100;
    left: 0;
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    border-bottom: 1px solid #444;
}

.sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #444;
}

/* Content styles */
.content {
    margin-left: 200px;
    /* Same width as sidebar */
    padding: 20px;
}

/* Sample content styles */
.parking-lot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.parking-spot {
    width: 80px;
    height: 150px;
    background-color: #569a5b;
    border-radius: 2%;
    /* border-top: 2px solid  white;
    border-left: 2px solid white;
    border-right: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: #555;
    position: relative;
}

.parking-spot:hover {
    background-color: rgb(98, 209, 119);
}

.parking-spot-booked {
    width: 80px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top: 1px solid  white;
    border-left: 1px solid white;
    border-right: 1px solid white; */
    font-size: 2rem;
    font-weight: bold;
    color: #d4ff00;
    position: relative;
    background-image: url("../src/assets/car.png");
    background-size: cover;
    background-position: center;
}

.parking-spot-booked:hover {
    cursor: not-allowed;
}

.car {
    font-size: 37px;
    color: #095cb4;
    position: absolute;
    bottom: 35%;
}

.car-no {
    font-size: 12px;
    color: #095cb4;
    position: absolute;
    top: 0%;
}


.btn {
    margin: 10px 10px;
    background-color: #6d6d6c;
    box-shadow: 1px 1px 4px rgb(0, 0, 0);
    border: none;
}

/* 
.col-1 {
    display: flex;
    position: absolute;
    margin-left: 0px;
}
.col-2 {
    display: flex;
    margin-left: 90%;
    position: relative;
} */

@media screen and (max-width: 670px) {
    .sidebar {
        height: 150px;
        width: 100%;
        position: relative;
        top: 0; 
        overflow-x: auto; 
        justify-content: center;
    }
    .content {
        margin-left: 10px;
        /* Same width as sidebar */
        padding: 20px;
    }
}

@media screen and (max-width: 410px) {
    .content {
        justify-content: start;
    }
}


/* <img src="/Users/dylanabbett/CodeProjects/parking-app/src/assets/car.png" alt="car"> */